<h1><%= @data[:name] %></h1>

<p>Type:
<% if @data[:content_type].nil? || @data[:content_type] == "" %>
  Unknown - The storage backend doesn't know this content type.
<% else %>
  <%= @data[:content_type] %></p>
<% end %>
</p>

<section class="buttons">
  <a href="<%= @data[:url] %>">Download</a>
</section>

<% if @data[:content_type].include? "video" %>
  <section class="player">
    <video controls>
      <source src="<%= @data[:url] %>" type="<%= @data[:content_type] %>">
    </video>
  </section>
<% end %>

<% if @data[:content_type].include? "audio" %>
  <section class="player">
    <audio controls>
      <source src="<%= @data[:url] %>" type="<%= @data[:content_type] %>">
    </video>
  </section>
<% end %>
