<h1><%= @data[:name] %></h1>

<p>
  <b>Size:</b> <%= S3Server::Helpers.format_mb @data[:content_length] %>
</p>
<p>
  <b>Last modified:</b>  <%= @data[:last_modified] %>
</p>

<p>
  <b>Type:</b>
  <% if @data[:content_type].nil? || @data[:content_type] == "" %>
    Unknown - The storage backend doesn't know this content type.
  <% else %>
    <%= @data[:content_type] %>
  <% end %>
</p>

<section class="buttons">
  <a href="<%= @data[:url] %>">Download File</a>
</section>

<% if @data[:content_type].include? "video" %>
  <section class="player">
    <video controls>
      <source src="<%= @data[:url] %>" type="<%= @data[:content_type] %>">
    </video>
  </section>
<% end %>

<% if @data[:content_type].include? "audio" %>
  <section class="player">
    <audio controls>
      <source src="<%= @data[:url] %>" type="<%= @data[:content_type] %>">
    </video>
  </section>
<% end %>
